.input__label {
  display: block;
  min-height: 24px;
  padding: 4px 0;
}

.input__field {
  display: block;
  height: 32px;
  border-radius: 3px;
  width: 100%;
  padding: 4px 5px;
}

.input__field:focus {
  border: 2px solid var(--color-accent);
}

.input_mode_default .input__field {
  background-color: var(--color-input-background);
  border: 2px solid var(--gray-3);
}

.input_mode_readonly .input__field {
  background-color: var(--gray-1);
  border: 2px solid var(--gray-1);
  cursor: default;
}

.input_mode_error .input__field {
  background-color: var(--color-input-background);
  border: 2px solid var(--color-error);
}
