.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.avatar_size_l .avatar__button {
  width: 96px;
  height: 96px;
  background-color: var(--gray-1);
}

.avatar_size_l .avatar__button:hover {
  background-color: var(--blue-2);
}
